USE [Agraria]
GO
/****** Object:  Table [dbo].[AbmUsuario]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbmUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[Documento] [int] NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](200) NULL,
	[IdLocalidad] [int] NULL,
	[IdPartido] [int] NULL,
	[Email] [varchar](150) NULL,
	[NombreUsuario] [varchar](100) NULL,
	[Contraseña] [varchar](100) NULL,
	[IdPreguntaSeguridad] [int] NULL,
	[RespuestaSeguridad] [varchar](200) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_AbmUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alimento]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alimento](
	[IdAlimento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NULL,
	[Cantidad] [decimal](10, 2) NULL,
	[IdTipoMedida] [int] NULL,
	[Precio] [decimal](10, 2) NULL,
	[FechaIngreso] [date] NULL,
	[IdTipoEntorno] [int] NULL,
	[IdProveedor] [int] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Alimento] PRIMARY KEY CLUSTERED 
(
	[IdAlimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[animal]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[animal](
	[id_animal] [bigint] NOT NULL,
	[nombre_comun] [varchar](100) NULL,
	[nombre_cientifico] [varchar](150) NULL,
	[id_tipo] [int] NULL,
	[id_rubro] [int] NULL,
	[id_subrubro] [int] NULL,
    [stock_minimo] [float] NULL
PRIMARY KEY CLUSTERED 
(
	[id_animal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[IdArticulo] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](100) NULL,
	[Cantidad] [decimal](10, 2) NULL,
	[IdTipoMedida] [int] NULL,
	[Precio] [decimal](10, 2) NULL,
	[FechaIngreso] [date] NULL,
	[IdTipoEntorno] [int] NULL,
	[Responsable] [varchar](100) NULL,
	[FechaEgreso] [datetime] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Articulo] PRIMARY KEY CLUSTERED 
(
	[IdArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[articulos]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulos](
	[id_articulo] [bigint] NOT NULL,
	[nombre] [varchar](150) NULL,
	[id_marca] [int] NULL,
	[stock_minimo] [float] NULL,
	[id_categoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticulosPañol]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticulosPañol](
	[IdArtPañol] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](100) NULL,
	[Cantidad] [int] NULL,
	[IdUnidad] [int] NULL,
	[FechaIngreso] [date] NULL,
	[IdEntorno] [int] NULL,
	[Responsable] [varchar](100) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_ArticulosPañol] PRIMARY KEY CLUSTERED 
(
	[IdArtPañol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aves]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NULL,
	[CantidadAves] [int] NULL,
	[FechaIngresoAves] [date] NULL,
	[CantidadHuevos] [int] NULL,
	[FechaIngresoHuevos] [date] NULL,
	[CantidadRetiradas] [int] NULL,
	[FechaRetiradas] [date] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Aves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Box]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Box](
	[IdBox] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
 CONSTRAINT [PK_Box] PRIMARY KEY CLUSTERED 
(
	[IdBox] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoxCarne]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxCarne](
	[IdBoxCarne] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_BoxCarne] PRIMARY KEY CLUSTERED 
(
	[IdBoxCarne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carne]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carne](
	[IdCarne] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[IdBoxCarne] [int] NULL,
	[NumeroAnimal] [nvarchar](50) NULL,
	[FechaIngreso] [date] NULL,
	[Sexo] [nvarchar](10) NULL,
	[FechaRetiro] [date] NULL,
	[FechaEnvioIndustria] [date] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Carne] PRIMARY KEY CLUSTERED 
(
	[IdCarne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Carne_NumeroAnimal] UNIQUE NONCLUSTERED 
(
	[NumeroAnimal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ciclo_vida]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ciclo_vida](
	[id_ciclo_vida] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ciclo_vida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colmenas]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colmenas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NULL,
	[CantidadColmenas] [int] NULL,
	[FechaIngresoColmenas] [date] NULL,
	[CantidadMiel] [int] NULL,
	[FechaIngresoMiel] [date] NULL,
	[CantidadRetiradas] [int] NULL,
	[FechaRetiradas] [date] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Colmenas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdNumeroFactura] [int] NULL,
	[Fecha] [date] NULL,
	[IdProducto] [int] NULL,
	[NombreProducto] [nvarchar](100) NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
	[Cantidad] [int] NULL,
 CONSTRAINT [PK_DetalleCompra] PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Engorde]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Engorde](
	[IdEngorde] [int] IDENTITY(1,1) NOT NULL,
	[IdBox] [int] NULL,
	[Nombre] [nvarchar](100) NULL,
	[FechaIngreso] [date] NULL,
	[Cantidad] [int] NULL,
	[FechaActualizado] [date] NULL,
	[Semanas] [int] NULL,
	[Peso] [decimal](10, 2) NULL,
	[IdAlimento] [int] NULL,
	[AlimentoPorDia] [decimal](10, 2) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Engorde] PRIMARY KEY CLUSTERED 
(
	[IdEngorde] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entorno]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entorno](
	[IdEntorno] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NULL,
	[IdTipoEntorno] [int] NULL,
	[Responsable] [varchar](150) NULL,
	[Año] [varchar](10) NULL,
	[Division] [varchar](10) NULL,
	[Grupo] [varchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Observaciones] [varchar](max) NULL,
 CONSTRAINT [PK_Entorno] PRIMARY KEY CLUSTERED 
(
	[IdEntorno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_fenologico]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_fenologico](
	[id_estado_fenologico] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_fenologico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Industria]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Industria](
	[idRegistroIndustria] [int] IDENTITY(1,1) NOT NULL,
	[idIndustria] [int] NULL,
	[idProducto] [int] NULL,
	[cantidadProduccion] [int] NULL,
	[FechaProduccion] [date] NULL,
	[idInsumos] [int] NULL,
	[CantidadInsumos] [int] NULL,
 CONSTRAINT [PK_Industria] PRIMARY KEY CLUSTERED 
(
	[idRegistroIndustria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leche]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leche](
	[IdLeche] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[NumeroAnimal] [varchar](50) NULL,
	[FechaIngreso] [date] NULL,
	[Sexo] [varchar](10) NULL,
	[FechaOrdeñe] [date] NULL,
	[LitrosLeche] [decimal](10, 2) NULL,
	[FechaFallecido] [date] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Leche] PRIMARY KEY CLUSTERED 
(
	[IdLeche] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[IdLocalidad] [int] IDENTITY(1,1) NOT NULL,
	[NombreLocalidad] [varchar](100) NULL,
	[CodigoPostal] [int] NULL,
	[IdPartido] [int] NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[IdLocalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marca]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metodo_siembra]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodo_siembra](
	[id_metodo_siembra] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_metodo_siembra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partido]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partido](
	[IdPartido] [int] IDENTITY(1,1) NOT NULL,
	[NombrePartido] [varchar](100) NULL,
 CONSTRAINT [PK_Partido] PRIMARY KEY CLUSTERED 
(
	[IdPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisosUsuario]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisosUsuario](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[PuedeEntornoFormativo] [bit] NULL,
	[PuedeAltaUsuario] [bit] NULL,
	[PuedeVenta] [bit] NULL,
	[PuedeInventario] [bit] NULL,
	[PuedeIndustria] [bit] NULL,
	[PuedeProduccionAnimal] [bit] NULL,
	[PuedeProduccionVegetal] [bit] NULL,
	[PuedeAdministracion] [bit] NULL,
	[PuedePañol] [bit] NULL,
 CONSTRAINT [PK_PermisosUsuario] PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreguntaSeguridad]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntaSeguridad](
	[IdPregunta] [int] IDENTITY(1,1) NOT NULL,
	[TextoPregunta] [varchar](200) NULL,
 CONSTRAINT [PK_PreguntaSeguridad] PRIMARY KEY CLUSTERED 
(
	[IdPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProduccionVegetal]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProduccionVegetal](
	[IdProduccion] [int] IDENTITY(1,1) NOT NULL,
	[CantidadPlantines] [int] NULL,
	[FechaCosecha] [date] NULL,
	[CantidadAtados] [int] NULL,
	[Estado] [bit] NULL,
	[FechaCultivo] [date] NULL,
 CONSTRAINT [PK_ProduccionVegetal] PRIMARY KEY CLUSTERED 
(
	[IdProduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[idProducto] [int] NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](255) NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id_proveedor] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NULL,
	[cuil] [varchar](20) NULL,
	[telefono] [varchar](30) NULL,
	[direccion] [varchar](100) NULL,
	[mail] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroCompra]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroCompra](
	[IdRegistro] [int] IDENTITY(1,1) NOT NULL,
	[IdNumeroFactura] [int] NULL,
	[Nombre] [nvarchar](150) NULL,
	[Cuit] [nvarchar](30) NULL,
	[Fecha] [date] NULL,
	[Precio] [decimal](12, 2) NULL,
	[Descuento] [decimal](5, 2) NULL,
	[Total] [decimal](12, 2) NULL,
 CONSTRAINT [PK_RegistroCompra] PRIMARY KEY CLUSTERED 
(
	[IdRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroFertilidadCarne]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroFertilidadCarne](
	[IdRegistro] [int] IDENTITY(1,1) NOT NULL,
	[NumeroMadre] [nvarchar](50) NULL,
	[NumeroPadre] [nvarchar](50) NULL,
	[FechaMonta] [date] NULL,
	[FechaParto] [date] NULL,
	[CantidadHembras] [int] NULL,
	[CantidadMachos] [int] NULL,
	[TotalNacidos] [int] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_RegistroFertilidadCarne] PRIMARY KEY CLUSTERED 
(
	[IdRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroFertilidadLeche]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroFertilidadLeche](
	[IdRegistro] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[NumeroMadre] [varchar](50) NULL,
	[NumeroPadre] [varchar](50) NULL,
	[FechaMonta] [date] NULL,
	[FechaParto] [date] NULL,
	[IdTipo] [int] NULL,
	[CantidadHembras] [int] NULL,
	[CantidadMachos] [int] NULL,
	[TotalNacidos] [int] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_RegistroFertilidadLeche] PRIMARY KEY CLUSTERED 
(
	[IdRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rubro]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rubro](
	[id_rubro] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock](
	[id_stock] [bigint] IDENTITY(1,1) NOT NULL,
	[id_elemento] [bigint] NOT NULL,
	[tipo_elemento] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ciclo] [varchar](50) NULL,
	[fecha_alta] [date] NOT NULL,
	[fecha_baja] [date] NULL,
	[cantidad] [decimal](10, 2) NULL,
	[nro_animal] [varchar](50) NULL,
	[estado_salud] [varchar](50) NULL,
	[es_productor] [bit] NULL,
	[precio] [money] NULL,
	[id_proveedor] [bigint] NULL,
	[activo] [bit] NULL,
	[vendible] [bit] NULL,
	[motivo_movimiento] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subrubro]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subrubro](
	[id_subrubro] [int] IDENTITY(1,1) NOT NULL,
	[id_rubro] [int] NOT NULL,
	[nombre] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_subrubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_animal]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_animal](
	[id_tipo_animal] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_animal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_cultivo]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_cultivo](
	[id_tipo_cultivo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_cultivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAnimal]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAnimal](
	[IdTipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_TipoAnimal] PRIMARY KEY CLUSTERED 
(
	[IdTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEntorno]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEntorno](
	[IdTipoEntorno] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
 CONSTRAINT [PK_TipoEntorno] PRIMARY KEY CLUSTERED 
(
	[IdTipoEntorno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMedida]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMedida](
	[IdTipoMedida] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_TipoMedida] PRIMARY KEY CLUSTERED 
(
	[IdTipoMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urgencias]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urgencias](
	[IdUrgencia] [int] IDENTITY(1,1) NOT NULL,
	[Mensaje] [nvarchar](500) NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_Urgencias] PRIMARY KEY CLUSTERED 
(
	[IdUrgencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vegetal]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vegetal](
	[id_vegetal] [bigint] NOT NULL,
	[nombre_comun] [varchar](40) NOT NULL,
	[nombre_cientifico] [varchar](40) NULL,
	[variedad_hibrido] [varchar](40) NULL,
	[id_tipo_cultivo] [int] NULL,
	[id_ciclo_vida] [int] NULL,
	[periodosiembra] [varchar](10) NULL,
	[id_metodo_siembra] [int] NULL,
	[id_estado_fenologico] [int] NULL,
	[requerimiento_hidrico] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vegetal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vegetales]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vegetales](
	[IdProduccion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[CantidadPlantines] [int] NULL,
	[Cantidad] [int] NULL,
	[FechaCultivo] [date] NULL,
	[FechaCosecha] [date] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Vegetales] PRIMARY KEY CLUSTERED 
(
	[IdProduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AbmUsuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Alimento] ADD  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[Alimento] ADD  DEFAULT ((0)) FOR [Precio]
GO
ALTER TABLE [dbo].[Alimento] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Articulo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[ArticulosPañol] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Aves] ADD  DEFAULT ((0)) FOR [CantidadAves]
GO
ALTER TABLE [dbo].[Aves] ADD  DEFAULT ((0)) FOR [CantidadHuevos]
GO
ALTER TABLE [dbo].[Aves] ADD  DEFAULT ((0)) FOR [CantidadRetiradas]
GO
ALTER TABLE [dbo].[Aves] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[BoxCarne] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Carne] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Colmenas] ADD  DEFAULT ((0)) FOR [CantidadColmenas]
GO
ALTER TABLE [dbo].[Colmenas] ADD  DEFAULT ((0)) FOR [CantidadMiel]
GO
ALTER TABLE [dbo].[Colmenas] ADD  DEFAULT ((0)) FOR [CantidadRetiradas]
GO
ALTER TABLE [dbo].[Colmenas] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Engorde] ADD  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[Engorde] ADD  DEFAULT ((0)) FOR [Semanas]
GO
ALTER TABLE [dbo].[Engorde] ADD  DEFAULT ((0)) FOR [Peso]
GO
ALTER TABLE [dbo].[Engorde] ADD  DEFAULT ((0)) FOR [AlimentoPorDia]
GO
ALTER TABLE [dbo].[Engorde] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[PermisosUsuario] ADD  DEFAULT ((0)) FOR [PuedeEntornoFormativo]
GO
ALTER TABLE [dbo].[PermisosUsuario] ADD  DEFAULT ((0)) FOR [PuedeAltaUsuario]
GO
ALTER TABLE [dbo].[PermisosUsuario] ADD  DEFAULT ((0)) FOR [PuedeVenta]
GO
ALTER TABLE [dbo].[PermisosUsuario] ADD  DEFAULT ((0)) FOR [PuedeInventario]
GO
ALTER TABLE [dbo].[PermisosUsuario] ADD  DEFAULT ((0)) FOR [PuedeIndustria]
GO
ALTER TABLE [dbo].[PermisosUsuario] ADD  DEFAULT ((0)) FOR [PuedeProduccionAnimal]
GO
ALTER TABLE [dbo].[PermisosUsuario] ADD  DEFAULT ((0)) FOR [PuedeProduccionVegetal]
GO
ALTER TABLE [dbo].[PermisosUsuario] ADD  DEFAULT ((0)) FOR [PuedeAdministracion]
GO
ALTER TABLE [dbo].[PermisosUsuario] ADD  DEFAULT ((1)) FOR [PuedePañol]
GO
ALTER TABLE [dbo].[ProduccionVegetal] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[ProduccionVegetal] ADD  DEFAULT (getdate()) FOR [FechaCultivo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[RegistroFertilidadCarne] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[stock] ADD  DEFAULT ((0.00)) FOR [cantidad]
GO
ALTER TABLE [dbo].[stock] ADD  DEFAULT ((0)) FOR [es_productor]
GO
ALTER TABLE [dbo].[stock] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[stock] ADD  DEFAULT ((0)) FOR [vendible]
GO
ALTER TABLE [dbo].[Urgencias] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Vegetales] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[AbmUsuario]  WITH CHECK ADD FOREIGN KEY([IdLocalidad])
REFERENCES [dbo].[Localidad] ([IdLocalidad])
GO
ALTER TABLE [dbo].[AbmUsuario]  WITH CHECK ADD FOREIGN KEY([IdLocalidad])
REFERENCES [dbo].[Localidad] ([IdLocalidad])
GO
ALTER TABLE [dbo].[AbmUsuario]  WITH CHECK ADD FOREIGN KEY([IdPartido])
REFERENCES [dbo].[Partido] ([IdPartido])
GO
ALTER TABLE [dbo].[AbmUsuario]  WITH CHECK ADD FOREIGN KEY([IdPartido])
REFERENCES [dbo].[Partido] ([IdPartido])
GO
ALTER TABLE [dbo].[AbmUsuario]  WITH CHECK ADD FOREIGN KEY([IdPreguntaSeguridad])
REFERENCES [dbo].[PreguntaSeguridad] ([IdPregunta])
GO
ALTER TABLE [dbo].[AbmUsuario]  WITH CHECK ADD FOREIGN KEY([IdPreguntaSeguridad])
REFERENCES [dbo].[PreguntaSeguridad] ([IdPregunta])
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD  CONSTRAINT [fk_anim_rubro] FOREIGN KEY([id_rubro])
REFERENCES [dbo].[rubro] ([id_rubro])
GO
ALTER TABLE [dbo].[animal] CHECK CONSTRAINT [fk_anim_rubro]
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD  CONSTRAINT [fk_anim_subrubro] FOREIGN KEY([id_subrubro])
REFERENCES [dbo].[subrubro] ([id_subrubro])
GO
ALTER TABLE [dbo].[animal] CHECK CONSTRAINT [fk_anim_subrubro]
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD  CONSTRAINT [fk_anim_tipo] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[tipo_animal] ([id_tipo_animal])
GO
ALTER TABLE [dbo].[animal] CHECK CONSTRAINT [fk_anim_tipo]
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD FOREIGN KEY([IdTipoMedida])
REFERENCES [dbo].[TipoMedida] ([IdTipoMedida])
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD FOREIGN KEY([IdTipoEntorno])
REFERENCES [dbo].[TipoEntorno] ([IdTipoEntorno])
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [fk_articulos_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [fk_articulos_categoria]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [fk_articulos_marca] FOREIGN KEY([id_marca])
REFERENCES [dbo].[marca] ([id_marca])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [fk_articulos_marca]
GO
ALTER TABLE [dbo].[ArticulosPañol]  WITH CHECK ADD FOREIGN KEY([IdEntorno])
REFERENCES [dbo].[TipoEntorno] ([IdTipoEntorno])
GO
ALTER TABLE [dbo].[ArticulosPañol]  WITH CHECK ADD FOREIGN KEY([IdUnidad])
REFERENCES [dbo].[TipoMedida] ([IdTipoMedida])
GO
ALTER TABLE [dbo].[Carne]  WITH CHECK ADD FOREIGN KEY([IdBoxCarne])
REFERENCES [dbo].[BoxCarne] ([IdBoxCarne])
GO
ALTER TABLE [dbo].[Engorde]  WITH CHECK ADD FOREIGN KEY([IdAlimento])
REFERENCES [dbo].[Alimento] ([IdAlimento])
GO
ALTER TABLE [dbo].[Engorde]  WITH CHECK ADD FOREIGN KEY([IdBox])
REFERENCES [dbo].[Box] ([IdBox])
GO
ALTER TABLE [dbo].[Entorno]  WITH CHECK ADD FOREIGN KEY([IdTipoEntorno])
REFERENCES [dbo].[TipoEntorno] ([IdTipoEntorno])
GO
ALTER TABLE [dbo].[Industria]  WITH CHECK ADD  CONSTRAINT [FK_Industria_Articulo] FOREIGN KEY([idInsumos])
REFERENCES [dbo].[Articulo] ([IdArticulo])
GO
ALTER TABLE [dbo].[Industria] CHECK CONSTRAINT [FK_Industria_Articulo]
GO
ALTER TABLE [dbo].[Industria]  WITH CHECK ADD  CONSTRAINT [FK_Industria_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Productos] ([idProducto])
GO
ALTER TABLE [dbo].[Industria] CHECK CONSTRAINT [FK_Industria_Producto]
GO
ALTER TABLE [dbo].[Localidad]  WITH NOCHECK ADD FOREIGN KEY([IdPartido])
REFERENCES [dbo].[Partido] ([IdPartido])
GO
ALTER TABLE [dbo].[PermisosUsuario]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[AbmUsuario] ([Id])
GO
ALTER TABLE [dbo].[rubro]  WITH CHECK ADD  CONSTRAINT [fk_tipo_animal] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[tipo_animal] ([id_tipo_animal])
GO
ALTER TABLE [dbo].[rubro] CHECK CONSTRAINT [fk_tipo_animal]
GO
ALTER TABLE [dbo].[subrubro]  WITH CHECK ADD  CONSTRAINT [fk_rubro] FOREIGN KEY([id_rubro])
REFERENCES [dbo].[rubro] ([id_rubro])
GO
ALTER TABLE [dbo].[subrubro] CHECK CONSTRAINT [fk_rubro]
GO
ALTER TABLE [dbo].[vegetal]  WITH CHECK ADD  CONSTRAINT [fk_veg_ciclo] FOREIGN KEY([id_ciclo_vida])
REFERENCES [dbo].[ciclo_vida] ([id_ciclo_vida])
GO
ALTER TABLE [dbo].[vegetal] CHECK CONSTRAINT [fk_veg_ciclo]
GO
ALTER TABLE [dbo].[vegetal]  WITH CHECK ADD  CONSTRAINT [fk_veg_cultivo] FOREIGN KEY([id_tipo_cultivo])
REFERENCES [dbo].[tipo_cultivo] ([id_tipo_cultivo])
GO
ALTER TABLE [dbo].[vegetal] CHECK CONSTRAINT [fk_veg_cultivo]
GO
ALTER TABLE [dbo].[vegetal]  WITH CHECK ADD  CONSTRAINT [fk_veg_fenologico] FOREIGN KEY([id_estado_fenologico])
REFERENCES [dbo].[estado_fenologico] ([id_estado_fenologico])
GO
ALTER TABLE [dbo].[vegetal] CHECK CONSTRAINT [fk_veg_fenologico]
GO
ALTER TABLE [dbo].[vegetal]  WITH CHECK ADD  CONSTRAINT [fk_veg_metodo] FOREIGN KEY([id_metodo_siembra])
REFERENCES [dbo].[metodo_siembra] ([id_metodo_siembra])
GO
ALTER TABLE [dbo].[vegetal] CHECK CONSTRAINT [fk_veg_metodo]
GO
ALTER TABLE [dbo].[animal]  WITH CHECK ADD CHECK  (([sexo]='Hembra' OR [sexo]='Macho'))
GO
ALTER TABLE [dbo].[Industria]  WITH CHECK ADD CHECK  (([cantidadProduccion]>=(0)))
GO
ALTER TABLE [dbo].[Industria]  WITH CHECK ADD CHECK  (([CantidadInsumos]>=(0)))
GO
ALTER TABLE [dbo].[vegetal]  WITH CHECK ADD CHECK  (([requerimiento_hidrico]='Bajo' OR [requerimiento_hidrico]='Medio' OR [requerimiento_hidrico]='Alto'))
GO
ALTER TABLE [dbo].[Vegetales]  WITH CHECK ADD CHECK  (([CantidadPlantines]>=(0)))
GO
ALTER TABLE [dbo].[Vegetales]  WITH CHECK ADD CHECK  (([Cantidad]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_articulo]    Script Date: 30/09/2026 9:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
