<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="agrariaDB" connectionString="Data Source=DESKTOP-DECC5KB\SQLEXPRESS;Initial Catalog=Agraria;User Id=sa;Password=Manager00;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>